#page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "plan_trip trip_details_section";
    width: 100%;
    font-family: Comfortaa, cursive;
    color: black;
}

#plan_trip, #trip_details_section {
    padding: 5vh 0;
    height: 100vh;
}

#plan_trip {
    background-color: #6a1b9a; /* Purple background color */
    background-image: linear-gradient(315deg, #6a1b9a 0%, #00bcd4 74%);
    grid-area: plan_trip;
    display: flex; /* Added to ensure flex properties work */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
}

#plan_your_trip {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plan_your_trip h1 {
    font-size: 5vh;
    margin-bottom: 15px;
}

#trip_details_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#trip_details_form input {
    font-size: 3vh;
    padding: 5px;
    border: none;
    font-family: Comfortaa, cursive;
    border-radius: 10px;
    box-shadow: 0 1px 10px #000;
    margin-bottom: 15px;
    width: 80%;
}

#trip_details_form input[type=submit] {
    padding: 1vw 2vw;
    background-image: linear-gradient(315deg, #6a1b9a 0%, #00bcd4 74%);
    box-shadow: 1px 6px 10px black;
    width: 50%;
}

#trip_details_form input[type=submit]:hover {
    box-shadow: none;
}

#trip_details_form label {
    font-size: 3vh;
    padding: 2px;
}

@media only screen and (max-width: 1150px) {
    #trip_details_form input {
        width: 100%;
        margin: 10px 0;
    }

    #plan_your_trip {
        width: 90%;
    }

    #trip_details {
        width: 90%;
    }
}

#trip_details_section {
    background-color: #6a1b9a; /* Purple background color */
    background-image: linear-gradient(315deg, #6a1b9a 0%, #00bcd4 74%);
    grid-area: trip_details_section;
    display: flex; /* Added to ensure flex properties work */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    padding: 25px;
}

#trip_details {
    display: flex;
    flex-direction: row; /* Aligns children horizontally */
    align-items: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 12px 16px 55px black;
    justify-content: center;
    padding: 50px 0;
}

#dest_photo img {
    width: 15vw;
    height: 15vw;
}

#dest_photo {
    padding: 20px;
    margin-left:5px;
}

#main_details {
    display: grid;
    width: 60vw;
    height: auto;
    font-size: 1.75vw;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding-left: 15px;
}

.dynamic_content {
    background-image: linear-gradient(315deg, #6a1b9a 0%, #00bcd4 74%);
}

#remove_trip {
    font-size: 2vw;
    padding: 1vw 2vw;
    background-color: red;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 6px 10px black;
    cursor: pointer;
}

#remove_trip:hover {
    box-shadow: none;
}

.invisible {
    display: none !important;
}

@media only screen and (max-width: 1150px) {
    #page {
        grid-template-columns: 1fr; /* Stack sections vertically on smaller screens */
        grid-template-areas: "plan_trip" "trip_details_section";
    }

    #plan_trip, #trip_details_section {
        width: 100%; /* Ensure sections take up the full width */
        height: auto; /* Allow height to adjust automatically */
    }
}
